
{% extends 'base.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}
<h1>{{ titulo }}</h1>
<a href="{{path('produtoAdicionar') }}" class="btn btn-primary">+ Adicionar</a>
<form method='get'>
    <label>Pesquisar pelo nome:</label>
    <input type="text" name="nome" class="form-control" value="{{nomeproduto}}" />
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>Nome</td>
            <td>Valor</td>
            <td>Categoria</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
    {% for produto in produtos %}
         <tr>
            <td>{{ produto.id}}</td>
            <td>{{ produto.nomeproduto}}</td>
            <td>{{ produto.valor}}</td>
            <td>{{ produto.categoria.descricaocategoria}}</td>
            <td>
                <a href="{{ path('produtoEditar', {id: produto.id}) }}" class="btn btn-primary">Editar</a>
                <a href="{{ path('produtoExcluir', {id: produto.id}) }}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
